<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.nicestocks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_nice_stocks"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_nice_stocks"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiceStocks">
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>